@tailwind base;
@tailwind components;
@tailwind utilities;

html{
  scroll-behavior: smooth;

}
body{
  font-family: 'jura', Arial, Helvetica, sans-serif;
}
.title{
  font-family: 'inter',Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
.blur-container{
  border-radius: 50%;
  z-index: -1000;
  filter: blur(75px);
}

.triangle-left {
  width: 0;
  height: 0;
  border-top: 50px solid transparent;
  /* border-right: 100px solid red; */
  border-bottom: 180px solid transparent;
  z-index: -1000;
  filter: blur(65px);
}
.underTitle{
  font-family: 'Finger paint','Times New Roman', Times, serif;
}
.software-icon {
  fill:#eab308;
  transition-property: all;
  transition-timing-function: ease-in-out;
  transition-duration: 500ms;
}
.icon-container:hover .software-icon {
  fill:rgb(23 37 84);
}
.icon{
  transition-property: all;
  transition-timing-function: ease-in-out;
  transition-duration: 500ms;
}
.icon-container:hover .icon {
  color: #eab308;
}
.icon-container h2{
  transition-property: all;
  transition-timing-function: ease-in-out;
  transition-duration: 400ms;
}
.icon-container:hover h2{
  color: #eab308;
}
.vertical-timeline::before{
  background-color: rgb(234, 179, 8);
}

.slider-container .control{
  display: none;
  transition-property: all;
  transition-timing-function: ease-in;
  transition-duration: 5000ms;
}
.slider-container:hover .control{
  display: block;
}
.loader-container {
  z-index :1000;
}
::-webkit-scrollbar{
  width: 10px;
  height: 10%;
}

::-webkit-scrollbar-thumb{
  background-color: rgba(32, 32, 32, 0.247);
  border-radius: 10px;

}