@tailwind base;
@tailwind components;
@tailwind utilities;

body{
  font-family: 'jura', Courier, monospace;
}
.title{
  font-family: 'inter',Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
.blur-container{
  border-radius: 50%;
  z-index: -1000;
  filter: blur(75px);
}
.underTitle{
  font-family: 'Finger paint','Times New Roman', Times, serif;
}
.software-icon {
  fill:#eab308;
  transition-property: all;
  transition-timing-function: ease-in-out;
  transition-duration: 500ms;
}
.icon-container:hover .software-icon {
  fill:rgb(23 37 84);
}
.icon{
  transition-property: all;
  transition-timing-function: ease-in-out;
  transition-duration: 500ms;
}
.icon-container:hover .icon {
  color: #eab308;
}
.icon-container h2{
  transition-property: all;
  transition-timing-function: ease-in-out;
  transition-duration: 400ms;
}
.icon-container:hover h2{
  color: #eab308;
}